<div class="col-xs-12">
    <div class="sec-box">
        <a class="closethis" href="#">Close</a>
        <header>
            <h2 class="heading">@ViewBag.PageTitle</h2>
        </header>
        <div class="contents boxpadding">
            <a class="togglethis" href="#">Toggle</a>
            <section>
