@{
    ViewBag.Title = "Empty";
}

<!-- Page title -->
<div class="page-title">
    <h2><i class="icon-desktop color"></i> Error Log <small>Subtext for header</small></h2>
    <hr />
</div>
<!-- Page title -->

<div class="row">
    <div class="col-md-12">
        <div class="awidget">
            <div class="awidget-head">
                <h3>Error Log</h3>
            </div>
            <div class="awidget-body">
                <div class="error-log">
                    <ul>
                        <!-- Use class bootstrap lables -->
                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>

                        <li><span class="label label-success">[Tue Jan 11 17:32:52 2013]</span> <span class="label label-danger">[error]</span> [google 123.124.2.2] client denied by server: /export/home/Metro King/testdoc - no such file</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>