@{
    ViewBag.Title = "Empty";
}

<!-- Page title -->
<div class="page-title">
    <h2><i class="icon-desktop color"></i> Invoice <small>Subtext for header</small></h2>
    <hr />
</div>
<!-- Page title -->

<div class="row">
    <div class="col-md-12">

        <div class="awidget">
            <div class="awidget-head">
                <h3>Invoice</h3>
            </div>
            <div class="awidget-body">

                <div class="row">

                    <div class="col-md-4">
                        <h5><strong>Metro King</strong></h5>
                        <p>
                            19/133, New New York Street<br>
                            Near Bus Stop, Right side <br>
                            Mexico, NY - 63442<br>
                            USA
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h5><strong>MacMedia</strong></h5>
                        <p>
                            24/133, Mexico Street<br>
                            Near Airport, Right side <br>
                            Mexico, CA - 53432<br>
                            Mexico
                        </p>
                    </div>

                    <div class="col-md-4">
                        <h5><strong>Invoice</strong></h5>
                        <p>
                            Invoice No : 52322<br>
                            Date : 12/34/2012<br>
                            Account No : 4290293203
                        </p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">
                        <hr />
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Tax</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sony Xperia Pro X1242</td>
                                    <td>5</td>
                                    <td>$534</td>
                                    <td>12.5%</td>
                                    <td>$2424</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Samsung Galaxy Pro</td>
                                    <td>2</td>
                                    <td>$244</td>
                                    <td>12.5%</td>
                                    <td>$5342</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Apple iPhone 5G - Black</td>
                                    <td>7</td>
                                    <td>$434</td>
                                    <td>12.5%</td>
                                    <td>$34524</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Nokia Lumina Tipo - Windows Mobile</td>
                                    <td>4</td>
                                    <td>$754</td>
                                    <td>12.5%</td>
                                    <td>$8866</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Motorola Defy 29323</td>
                                    <td>5</td>
                                    <td>$644</td>
                                    <td>12.5%</td>
                                    <td>$88865</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Micromax Funbook - Android Tablet</td>
                                    <td>9</td>
                                    <td>$434</td>
                                    <td>12.5%</td>
                                    <td>$53535</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Total</strong></td>
                                    <td><strong>$2405</strong></td>
                                </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-danger btn-xs pull-right">Send Invoice</button>
                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>